<%= form_for(@item) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :player_id, :value => @player.id %>
    <div class="field">
      <%= f.text_area :description, placeholder: "Compose new item..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>