<% provide(:title, @player.name) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @player.description %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>

<div class="span8">
  <% if @player.items.any? %>
      <h3>Items (<%= @player.items.count %>)</h3>
      <ol class="items">
        <%= render @items %>
      </ol>
      <%= will_paginate @items %>
  <% end %>
</div>

<% if signed_in? %>
    <div class="row">
      <aside class="span4">
        <section>
          <%= render 'shared/item_form' %>
        </section>
      </aside>
    </div>
    <div class="row">
        <div class="span8">
          <%= render 'follow_form' if signed_in? %>
        </div>
    </div>
<% end %>
